services:
  mysql:
    image: arm64v8/mysql:8.0
    container_name: fastApiMySQL
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - "3311:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: root
      TZ: UTC
    volumes:
      - ./data/mysql:/var/lib/mysql
